@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-italic-400.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-italic-500.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RootFont";
  src: url("../assets/fonts/font-italic-700.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

:root {
  --md-sys-color-primary: #65558f;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e9ddff;
  --md-sys-color-on-primary-container: #211047;
  --md-sys-color-secondary: #625b70;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #1e192b;
  --md-sys-color-tertiary: #7e5260;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd9e3;
  --md-sys-color-on-tertiary-container: #31101d;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #1d1b20;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-on-surface: #1d1b20;
  --md-sys-color-outline: #7a757f;
  --md-sys-color-surface-variant: #e7e0eb;
  --md-sys-color-on-surface-variant: #49454e;
}

html * {
  font-family: "RootFont", sans-serif;
  color: var(--md-sys-color-on-background);
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Thêm các styles chung khác */
